@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

body {
  background-color: #e3e3e3;
}

.container {
  font-family: "Montserrat";
  min-height: 100vh;
  display: flex;
}

.sectionMessage {
  background-color: #242038;
  flex: 1;
}

.sectionInput {
  min-height: 40rem;
  background-color: #fff;
  flex: 1;
}

.formAcct {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}

.hf {
  font-size: 3.8rem;
  font-weight: bolder;
  font-style: normal;
  line-height: 3.8rem;
  letter-spacing: 0.28px;
  color: #1b2733;
  text-transform: uppercase;
  display: inline-block;
  outline: none;
  margin-top: 18rem;
  margin-bottom: 2rem;
  margin-left: -14.5rem;
}

.rpxt {
  font-size: 1.9rem;
  line-height: 2.2rem;
  letter-spacing: 1.58333px;
  color: #242038;
  margin-bottom: 13rem;
  margin-left: -3rem;
}

label {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: normal;
  line-height: 2.2rem;
  letter-spacing: 1.5px;
  color: #6b6c6f;
  display: inline-block;
  margin-bottom: 6px;
  margin-left: -1.5rem;
}

.bx {
  position: relative;
  background-color: #fff;
  margin-bottom: 3.2rem;
  width: 50.3rem;
  height: 5.8rem;
  border-radius: 20px;
  border: 1px solid #e3e3e3;
  margin-left: -1.5rem;
}

.inputEmail {
  width: 92%;
  height: 100%;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: 22px;
  letter-spacing: inherit;
  background-color: #fff;
  border: 0;
  border-radius: 20px;
  margin-left: 4rem;
}

.inputEmail:focus,
.inputEmail:active,
.inputEmail:hover {
  outline: none;
  background-color: #fff;
  border: none;
}

.mailImg {
  position: absolute;
  top: 1.5rem;
  left: 1.2rem;
}

.inputSubmit {
  width: 50.3rem;
  height: 5.8rem;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  line-height: 22px;
  letter-spacing: inherit;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  background-color: #242038;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 3.7rem;
  margin-left: -1.5rem;
}

.inputStyle:focus,
.inputStyle:active,
.inputStyle:hover {
  outline: none;
  background-color: #fff;
}

.bt {
  font-size: 1.9rem;
  font-family: "AvenirNext", sans-serif;
  line-height: 2.2rem;
  letter-spacing: 1.58333px;
  color: #b2afaf;
}

.bt span:visited,
.bt span:link {
  color: #e38777;
  font-style: italic;
  font-family: "AvenirNext", sans-serif;
}

.bt span a {
  text-decoration: none;
  color: #f00;
}
